*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*move to top button styling*/
.scroll-Btn a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color:#30d158;
    background: #1c1c1e;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}
/*banner styling*/
.banner{
    background-image: url(images/bg.jpeg);
}